@import "tailwindcss";

:root {
  --background: rgb(249 250 251);
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
